<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="ch.qos.logback" level="INFO" />

    <!-- JPA -->
    <logger name="org.hibernate.SQL" level="INFO" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="org.postgresql" level="INFO" />
    <logger name="com.h2database" level="INFO" />

    <!-- Neo4J -->
    <logger name="org.neo4j.ogm.config" level="DEBUG" />
    <logger name="org.neo4j.driver" level="DEBUG" />
    <logger name="org.neo4j.ogm" level="DEBUG" />

    <!-- Spring Boot-->
    <logger name="org.springframework.boot" level="INFO" />
    <logger name="org.springframework.test" level="INFO" />

    <!-- Spring Framework -->
    <logger name="org.springframework.transaction" level="INFO" />
    <logger name="org.springframework.data.neo4j" level="DEBUG" />
    <logger name="org.springframework.boot" level="INFO" />

    <!-- Application -->
    <logger name="org.springframework.data.examples.boot.storage.neo4j" level="DEBUG" />
    <logger name="org.springframework.data.examples.boot.storage.jpa" level="DEBUG" />
    <logger name="org.springframework.data.examples.boot.config" level="DEBUG" />

    <!-- Everything Else -->
    <root level="INFO" />
</configuration>
